@charset "UTF-8";
:root {
  /* Шрифт */
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /* Цвет основного текста (черный) */
  --black-color:#212121;
  /* Вторичный цвет (серый)*/
  --grey-color: #757575;
  --grey-color-icon: #AFB1B8;
  /* Белый текст и фон */
  --white-bg-color: #ffffff;
  /* Акцент цвета */
  --accent-color: #2196F3;
  /* Разное */
  --accent-color-bg: #188CE8;
  --accent-color-card: rgba(33, 150, 243, 0.9);
  --bg-color-photo: #F5F4FA;
  --color-sidebar: #2F303A;
  /* Анимации */
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  background-color: var(--white-bg-color);
  color: var(--black-color);
}
.body.no-scroll {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  border: 1px solid transparenret;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  color: var(--white-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim);
  transition: background-color var(--anim), box-shadow var(--anim), border-radius var(--anim), -webkit-box-shadow var(--anim);
}

.button--hovered:hover,
.button--hovered:focus {
  background-color: var(--accent-color-bg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button--telegram::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url(../images/icons/telegram.svg);
}

.button--portfolio {
  width: auto;
  height: auto;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: var(--bg-color-photo);
}

.button--portfolio:hover,
.button--portfolio:focus {
  color: var(--white-bg-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__logo {
  display: block;
  margin-right: 93px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.logo--header {
  color: var(--black-color);
}

.logo--footer {
  color: var(--white-bg-color);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--grey-color-icon);
  background-color: var(--white-bg-color);
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}

.social__link:hover,
.social__link:focus {
  color: var(--white-bg-color);
  background-color: var(--accent-color-bg);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.social--margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.social__icon--background {
  fill: currentColor;
}

.social__link--background {
  color: var(--white-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}/*# sourceMappingURL=main.css.map */